<#@ template debug="false" hostspecific="false" language="C#" inherits="QueryAsyncBase" linePragmas="false" #>
select 
    ProductID,
    Name
from
    Product
where
	1 = 1
<# if(Name is not null) {#>
	and Name like @Name
<# } #>
