<#@ template debug="false" hostspecific="false" language="C#" inherits="QueryAsyncBase<Product>" linePragmas="false" #>
select 
    <#= nameof(Product.ProductID) #>,
    <#= nameof(Product.Name) #>
from
    Product
where
	1 = 1
<# if(ProductID is not null) {#>
    and ProductID = @ProductId
<# } #>
<# if(Name is not null) {#>
	and Name like @Name
<# } #>