<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://villboard-daily-update.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fc7753ed-2e69-4202-bb66-86ff5798b8d5/resourceGroups/rg-villboard-dev-jpeast-an/providers/Microsoft.Web/sites/villboard-daily-update</ResourceId>
    <UserName>$villboard-daily-update</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://villboard-daily-update.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>