@page "/"

<PageTitle>Index</PageTitle>

<span class="pageheader">Selected Controls</span>
<br />
<p class="pagecontent">The following Syncfusion Blazor components can be set up in an application for you with the Syncfusion Blazor Template Studio. A fast, easy start with Syncfusion Blazor components lets you concentrate on the important part: learning.</p>
<div class="controlregion">

 <h5 class="productheader"> Grids</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="datagrid-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-datagrid" aria-hidden="true"></span>DataGrid
 	</NavLink>
 	</li>

</ul>
 <h5 class="productheader"> Data Visualization</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="charts-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-charts" aria-hidden="true"></span>Charts
 	</NavLink>
 	</li>

</ul>
 <h5 class="productheader"> Calendar</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="calendar-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-calendar" aria-hidden="true"></span>Calendar
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="datepicker-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-datepicker" aria-hidden="true"></span>DatePicker
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="daterangepicker-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-daterangepicker" aria-hidden="true"></span>DateRangePicker
 	</NavLink>
 	</li>

</ul>
 <h5 class="productheader"> DropDowns</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="combobox-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-combobox" aria-hidden="true"></span>ComboBox
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="dropdownlist-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-dropdownlist" aria-hidden="true"></span>Dropdown List
 	</NavLink>
 	</li>

</ul>
 <h5 class="productheader"> Layout</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="dialog-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-dialog" aria-hidden="true"></span>Dialog
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="dashboardlayout-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-dashboardlayout" aria-hidden="true"></span>Dashboard Layout
 	</NavLink>
 	</li>

</ul>
 <h5 class="productheader"> Inputs</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="textbox-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-textbox" aria-hidden="true"></span>TextBox
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="toggleswitchbutton-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-toggleswitchbutton" aria-hidden="true"></span>Toggle Switch Button
 	</NavLink>
 	</li>

</ul>
 <h5 class="productheader"> Navigation</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="menubar-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-menubar" aria-hidden="true"></span>Menu Bar
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="tabs-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-tabs" aria-hidden="true"></span>Tabs
 	</NavLink>
 	</li>

</ul>
 <h5 class="productheader"> Buttons</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="button-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-button" aria-hidden="true"></span>Button
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="buttongroup-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-buttongroup" aria-hidden="true"></span>Button Group
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="dropdownmenu-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-dropdownmenu" aria-hidden="true"></span>Dropdown Menu
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="floatingactionbutton-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-floatingactionbutton" aria-hidden="true"></span>Floating Action Button
 	</NavLink>
 	</li>

</ul>

</div>
<style>
    .ulstyle {
        margin-top: 10px;
        margin-bottom: 20px;
        display: inline-block;
        list-style-type: none !important;
        padding-left: 0px !important;
    }

    .controlregion {
        margin-top: 50px;
    }

    .pagecontent {
        font-family: sans-serif !important;
font-size: 16px;
color: #333333;
letter-spacing: 0.34px;
line-height: 24px;
margin-top: 10px;
    }
    

    .list {
        float: left;
        line-height: 40px;
        min-width: 280px;
        font-family: sans-serif !important;
        font-size: 19px;
        color: #0073DC;
    }

    .syncfusion-blazor-index-icons {
        font-family: "sbicons";
        color: #0073DC !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        padding-right: 13px;
        font-size: 18px;
    }

    .productheader {
        font-family: sans-serif !important;
        font-size: 19px !important;
        color: #333333 !important;
        letter-spacing: 0.41px ;
    }

    .pageheader {
        font-family: sans-serif !important;
        font-size: 24px !important;
        color: #333333 ;
        font-weight: bold !important;
    }
</style>
