<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionappnet8.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fc7753ed-2e69-4202-bb66-86ff5798b8d5/resourcegroups/rg-FunctionAppNet8/providers/Microsoft.Web/sites/FunctionAppNet8</ResourceId>
    <UserName>$FunctionAppNet8</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionappnet8.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>