<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://functionsstudy202010.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fc7753ed-2e69-4202-bb66-86ff5798b8d5/resourceGroups/FunctionsStudy20201003/providers/Microsoft.Web/sites/FunctionsStudy202010</ResourceId>
    <UserName>$FunctionsStudy202010</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functionsstudy202010.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>